@import "tailwindcss";
@config "../tailwind.config.js";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
@keyframes progressFill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
